[% WRAPPER 'include/layout.tt' %]

<form method="post" action="[% uri_for('/post') %]">
    <label>項目：<input type="text" name="body" placeholder="テストを書く" /></label>
    <lable>締め切り：<input type="text" name="deadline" placeholder="YYYY-MM-DD" /></label>
<br />
    <input type="submit" value="登録" />
</form>

<ul>
[% FOR entry IN entries %]
    <li>[% entry.id %]. [%entry.deadline %] [%entry.body %]</li>
[% END %]
</ul>

[% END %]
